body {
    background-color: #FAF1E6;
}

#add-player-container {
    margin: 25px;
    display: flex;
    justify-content: center;
    gap: 10px
}

#players-displayer {
    background-color: aqua;
    height: 200px;
    border-radius: 25px;
    margin: 10px;
}

#number-of-teams-container {
    background-color: blueviolet;
    height: 150px;
}

#cards-containerr {}